body {
    padding-top: 92px;
}

.navbar-dark {
    background-color: #FE290E !important;
}

.btn-primary {
    background-color: #FE290E !important;
    border-color: #fff;
    width: 200px;
}

.btn-primary:hover {
    color: #000;
    background-color: #fff !important;
    border-color: #FE290E !important;
}

.subtitulo {
    margin-top: 60px;
    text-transform: uppercase;
    font-weight: bold;
}

.subtitulo::after {
    content: "";
    display: block;
    background-color: #FE290E;
    height: 3px;
    width: 60px;
    margin: 10px auto;
    margin-bottom: 80px;
}

div.imagetiles div.col-lg-3.col-md-3.col-sm-3.col-xs-6{
    padding: 0px;
  }
  